{% extends "base.html" %}
{% block title %} user info  {% endblock %}

{% block content %}
    <div class="row text-center">
        <h3>
           not authorized
        </h3>
    </div>
    <div class="row">
    <div class="col-xs-offset-3 col-xs-6 user_info">
        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                username:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ cur_user.username }}
            </div>
        </div>

        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                need authorization:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ missing_group_string }}
            </div>
        </div>

        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                current permission:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ user_group_string }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <a href="/user/login/" class="btn btn-block btn-lg btn-primary">change user</a>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}


