{% extends "base.html" %}
{% block title %} user info  {% endblock %}

{% block content %}
    <div class="row text-center">
        <h3>
            user info
        </h3>
    </div>
    <div class="row">
    <div class="col-xs-offset-3 col-xs-6 user_info">
        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                username:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ cur_user.username }}
            </div>
        </div>
        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                name:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ cur_user.name }}
            </div>
        </div>
        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                gender:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ cur_user.sex }}
            </div>
        </div>
        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                age:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ cur_user.age }}
            </div>
        </div>
        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                phone number:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ cur_user.phone }}
            </div>
        </div>
        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                email:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ cur_user.email }}
            </div>
        </div>
        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                major or career:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ cur_user.field }}
            </div>
        </div>
        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                frequency of search engine usage:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ search_frequency }}
            </div>
        </div>
        <div class="user_info_row row">
            <div class="info_label col-xs-offset-0 col-xs-6">
                search engine usage history:
            </div>
            <div class="info_value col-xs-offest-6 col-xs-6">
                {{ search_history }}
            </div>
        </div>
{#        <div class="user_info_row row">#}
{#            <div class="info_label col-xs-offset-0 col-xs-6">#}
{#                sign up time:#}
{#            </div>#}
{#            <div class="info_value col-xs-offest-6 col-xs-6">#}
{#                {{ cur_user.signup_time }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="user_info_row row">#}
{#            <div class="info_label col-xs-offset-0 col-xs-6">#}
{#                last login time:#}
{#            </div>#}
{#            <div class="info_value col-xs-offest-6 col-xs-6">#}
{#                {{ cur_user.last_login }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="user_info_row row">#}
{#            <div class="info_label col-xs-offset-0 col-xs-6">#}
{#                number of login:#}
{#            </div>#}
{#            <div class="info_value col-xs-offest-6 col-xs-6">#}
{#                {{ cur_user.login_num }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="user_info_row row">#}
{#            <div class="info_label col-xs-offset-0 col-xs-6">#}
{#                user permission:#}
{#            </div>#}
{#            <div class="info_value col-xs-offest-6 col-xs-6">#}
{#                {{ user_group_string }}#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="col-xs-6">
                <a href="/user/edit_info/" class="btn btn-block btn-lg btn-primary">edit user info</a>
            </div>
            <div class="col-xs-6">
                <a href="/user/edit_password/" class="btn btn-block btn-lg btn-primary">edit password</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


